river_monitoring.json
[{"id":"1ae341ba.d6ae9e","type":"tab","label":"Flow 8","disabled":true,"info":""},{"id":"fcb97fd4.28bfb","type":"ibmiot in","z":"1ae341ba.d6ae9e","authentication":"apiKey","apiKey":"41fa141.2cd3aec","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"54321","applicationId":"","deviceType":"Turbidity","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["e46132eb.46e49","6d4da73c.0b0468","2f165e0c.ff5a62","665c9a91.c37984"]]},{"id":"6d4da73c.0b0468","type":"debug","z":"1ae341ba.d6ae9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"e46132eb.46e49","type":"function","z":"1ae341ba.d6ae9e","name":"TempCelsius","func":"global.set(\"tempc\",msg.payload.d.tc)\nmsg.payload=msg.payload.d.tc\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["6d4da73c.0b0468","5acc724a.926e7c"]]},{"id":"5acc724a.926e7c","type":"ui_gauge","z":"1ae341ba.d6ae9e","name":"","group":"a31f6803.186998","order":1,"width":8,"height":5,"gtype":"gage","title":"Celsius","label":"Celsius","format":"{{value}}","min":"-32","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":80,"wires":[]},{"id":"28df4a0a.945b76","type":"ui_gauge","z":"1ae341ba.d6ae9e","name":"","group":"a31f6803.186998","order":2,"width":8,"height":5,"gtype":"gage","title":"Fahrenheit","label":"","format":"{{value}}","min":"32","max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":140,"wires":[]},{"id":"1de38e8.9895072","type":"ui_gauge","z":"1ae341ba.d6ae9e","name":"","group":"a31f6803.186998","order":4,"width":12,"height":5,"gtype":"gage","title":"Turbidity","label":"%","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":220,"wires":[]},{"id":"2f165e0c.ff5a62","type":"function","z":"1ae341ba.d6ae9e","name":"TempFahrenheit","func":"global.set(\"tempf\",msg.payload.d.tf)\nmsg.payload=msg.payload.d.tf\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["28df4a0a.945b76","6d4da73c.0b0468"]]},{"id":"665c9a91.c37984","type":"function","z":"1ae341ba.d6ae9e","name":"Turbidity","func":"global.set(\"turbidity\",msg.payload.d.turbidity)\nmsg.payload=msg.payload.d.turbidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["1de38e8.9895072","6d4da73c.0b0468","b6e1c388.895d9"]]},{"id":"b6e1c388.895d9","type":"switch","z":"1ae341ba.d6ae9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"400","vt":"num"},{"t":"gt","v":"400","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["e70580ff.97c75"],[]]},{"id":"7076f3ae.794bbc","type":"debug","z":"1ae341ba.d6ae9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"e70580ff.97c75","type":"function","z":"1ae341ba.d6ae9e","name":"","func":"msg.payload=\"Turbidity is LOW\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[["7076f3ae.794bbc"]]},{"id":"63b28e3.b4ccf7","type":"http request","z":"1ae341ba.d6ae9e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=m85Obntac81ZObAlDcXbsuBDii65NeDotrXkwLfn87CTpRhMdegPrn6oHgwt&sender_id=SBTEST&message=Turbidity is LOW&language=english&route=p&numbers=8688699264","tls":"","persist":true,"proxy":"","authType":"","x":450,"y":400,"wires":[["d0367768.03e9f8"]]},{"id":"d0367768.03e9f8","type":"http response","z":"1ae341ba.d6ae9e","name":"","statusCode":"","headers":{},"x":590,"y":340,"wires":[]},{"id":"41fa141.2cd3aec","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"6or1i6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"a31f6803.186998","type":"ui_group","z":"","name":"Data","tab":"4f159312.543dec","order":1,"disp":true,"width":"16","collapse":false},{"id":"4f159312.543dec","type":"ui_tab","z":"","name":"Data","icon":"dashboard","disabled":false,"hidden":false}]