smart_poultry.json
[{"id":"27b795fd.71667a","type":"tab","label":"Flow 7","disabled":true,"info":""},{"id":"15ad1764.ddfd89","type":"ibmiot in","z":"27b795fd.71667a","authentication":"apiKey","apiKey":"41fa141.2cd3aec","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"Node","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["7d89f59b.a175fc","b7ffb8e0.03c908","a5abc52f.b1eb88","5724f58c.bc8bdc","9c0fb100.4c756"]]},{"id":"a5abc52f.b1eb88","type":"debug","z":"27b795fd.71667a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"7d89f59b.a175fc","type":"function","z":"27b795fd.71667a","name":"Temperature","func":"global.set(\"temperature\",msg.payload.d.t)\nmsg.payload=msg.payload.d.t\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":60,"wires":[["a5abc52f.b1eb88","7efdef3a.3fc56"]]},{"id":"b7ffb8e0.03c908","type":"function","z":"27b795fd.71667a","name":"Humidity","func":"global.set(\"humidity\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["a5abc52f.b1eb88","5e4a6907.af5f28"]]},{"id":"eb611042.430f1","type":"ibmiot out","z":"27b795fd.71667a","authentication":"apiKey","apiKey":"41fa141.2cd3aec","outputType":"cmd","deviceId":"123456","deviceType":"test1","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":380,"wires":[]},{"id":"17850297.1f83ed","type":"debug","z":"27b795fd.71667a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":460,"wires":[]},{"id":"ca81986d.0167f8","type":"http in","z":"27b795fd.71667a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":640,"wires":[["e16c6093.1826c"]]},{"id":"6291657f.c890fc","type":"http response","z":"27b795fd.71667a","name":"","statusCode":"","headers":{},"x":530,"y":640,"wires":[]},{"id":"e16c6093.1826c","type":"function","z":"27b795fd.71667a","name":"","func":"msg.payload={\n    \"Temperature1\":global.get(\"temperature\"),\n    \"Humidity1\":global.get(\"humidity\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":640,"wires":[["6291657f.c890fc"]]},{"id":"a8429a57.d77a58","type":"http in","z":"27b795fd.71667a","name":"","url":"/send","method":"get","upload":false,"swaggerDoc":"","x":280,"y":500,"wires":[["39cd84e2.8ce7ac","7ebcfdde.e89a44","eb611042.430f1"]]},{"id":"39cd84e2.8ce7ac","type":"http response","z":"27b795fd.71667a","name":"","statusCode":"","headers":{},"x":580,"y":500,"wires":[]},{"id":"7ebcfdde.e89a44","type":"debug","z":"27b795fd.71667a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":580,"wires":[]},{"id":"5724f58c.bc8bdc","type":"function","z":"27b795fd.71667a","name":"Water Level","func":"global.set(\"level\",msg.payload.d.distance)\nmsg.payload=msg.payload.d.distance\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["c4d8526f.2dd79","a5abc52f.b1eb88"]]},{"id":"9c0fb100.4c756","type":"function","z":"27b795fd.71667a","name":"Ammonia Gas","func":"global.set(\"humidity\",msg.payload.d.analogSensor)\nmsg.payload=msg.payload.d.analogSensor\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["19148147.49addf","a5abc52f.b1eb88"]]},{"id":"7efdef3a.3fc56","type":"ui_gauge","z":"27b795fd.71667a","name":"","group":"a31f6803.186998","order":1,"width":8,"height":5,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-32","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":60,"wires":[]},{"id":"c4d8526f.2dd79","type":"ui_gauge","z":"27b795fd.71667a","name":"","group":"a31f6803.186998","order":1,"width":8,"height":5,"gtype":"gage","title":"Water Level","label":"Celsius","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":120,"wires":[]},{"id":"19148147.49addf","type":"ui_gauge","z":"27b795fd.71667a","name":"","group":"a31f6803.186998","order":1,"width":8,"height":5,"gtype":"gage","title":"Gas Value","label":"Celsius","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":200,"wires":[]},{"id":"5e4a6907.af5f28","type":"ui_gauge","z":"27b795fd.71667a","name":"","group":"a31f6803.186998","order":1,"width":8,"height":5,"gtype":"gage","title":"Humidity","label":"Celsius","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":260,"wires":[]},{"id":"34c9215.64248de","type":"ui_button","z":"27b795fd.71667a","name":"","group":"a31f6803.186998","order":17,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoron","payloadType":"str","topic":"","x":270,"y":420,"wires":[["eb611042.430f1"]]},{"id":"33a870f8.36a38","type":"ui_button","z":"27b795fd.71667a","name":"","group":"a31f6803.186998","order":18,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoroff","payloadType":"str","topic":"","x":280,"y":460,"wires":[["eb611042.430f1","17850297.1f83ed"]]},{"id":"41fa141.2cd3aec","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"6or1i6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"a31f6803.186998","type":"ui_group","z":"","name":"Data","tab":"4f159312.543dec","order":1,"disp":true,"width":"16","collapse":false},{"id":"4f159312.543dec","type":"ui_tab","z":"","name":"Data","icon":"dashboard","disabled":false,"hidden":false}]